.pl{
    padding: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.pl-texts{
    width: 55%;
}

.pl-desc{
    margin: 2rem 0;
}

.pl-list{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

/* Media Queries */

@media screen and (max-width: 480px){
    .pl{
        margin-top: 2rem;
        padding: 2rem;
    }

    .pl-texts{
        width: 75%;
        font-size: 0.9rem;
    }

    .pl-list{
        justify-content: space-around;
    }
}