.c{
    height: 100%;
    padding: 8rem;
}

.c-wrapper{
    display: flex;
    padding: 2px;
}

.c-left{
    flex: 1;
}

.c-right{
    flex: 1;
}

.c-info{
    margin-top: 40px;
}

.c-info-item{
    display: flex;
    align-items: center;
    padding: 10px 0;;
}

.c-icon{
    width: 30px;
    margin-right: 20px;
}

form{
    margin-top: 20px;
}

input{
    width: 50%;
    height: 40px;
    border: none;
    border-bottom: 2px dotted black;
    padding-left: 10px;
    margin-bottom: 10px;
}

input:focus{
    outline: none;
}

input::placeholder{
    padding: 2px;
    font-size: 16px;
}

textarea{
    width: 100%;
    border: none;
    border-bottom: 2px dotted black;
    padding: 5px;
}

textarea::placeholder{
    padding: 2px;
    font-size: 16px;
}

textarea:focus{
    outline: 2px dotted black;
    border: none;
}

button{
    border: none;
    width: 200px;
    height: 40px;
    font-size: 16px;
    margin-top: 10px;
    background-color: #000;
    color: rgb(255, 255, 255);
    border-radius: 2px;
    /* transition: .2s; */
    cursor: pointer;
}

button:hover{
    border: 2px solid black;
    color: black;
    background-color: white;
    /* transition: .2s; */
}

/* Media Queries  Mobile*/
@media screen and (max-width: 480px){
    .c-wrapper{
        flex-direction: column;
    } 

    .c{
        padding: 3rem;
        padding-top: 0;
    }

    .c-left{
        margin-bottom: 1.5rem;
    }

    .c-title{
        font-size: 1.5rem;
        text-align: center;
    }

    .c-info{
        font-size: 1rem;
    }

    .c-icon{
        width: 25px;
        margin-right: 15px;
    }

    .c-right-title{
        font-size: .9rem;
    }

    input{
        width: 80%;
        height: 35px;
        border-bottom: 2px dotted rgb(103, 103, 103);
        padding-left: 8px;
    }

    input::placeholder{
        font-size: 14px;
    }

    textarea::placeholder{
        font-size: 14px;
    }

    button{
        width: 120px;
        height: 40px;
        font-size: 14px;
    }
       
}


/* Media Queries Tab*/
@media screen and (max-width: 768px){
    .c{
        padding: 3rem;
        padding-top: 1.rem;
    }

    .c-left{
        margin-bottom: 1rem;
    }

    .c-title{
        font-size: 2rem;
    }

    .c-info{
        font-size: 1.1rem;
    }

    .c-icon{
        width: 28px;
        margin-right: 18px;
    }

    .c-right-title{
        font-size: 1.1rem;
    }

    input{
        width: 80%;
        height: 35px;
        border-bottom: 2px dotted rgb(103, 103, 103);
        padding-left: 8px;
    }

    input::placeholder{
        font-size: 14px;
    }

    textarea::placeholder{
        font-size: 14px;
    }

    button{
        width: 120px;
        height: 40px;
        font-size: 14px;
    }
}
