.i{
   display: flex;
   font-size: 2rem; 
   height: 100vh;
}

.i-left{
    flex: 1;
    display: flex;    
    padding: 8rem;
    justify-content: center;
    align-items: center; 
}

.i-right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.i-title-wrapper{
    display: flex;
    gap: 1rem;
}

.i-intro{
    margin-bottom: 1rem;
}

.i-name{
    margin-bottom: 2rem;
}

.i-title{
    height: 3rem;
    overflow: hidden;
}

.i-title-item{
    display: flex;
    height: 3rem;
}

.i-title-items{
    height: 100%;
    animation: move 5s ease-in-out infinite alternate;
}

@keyframes move{
    25%{
        transform: translateY(-3rem);
    }
    50%{
        transform: translateY(-6rem);
    }
    75%{
        transform: translateY(-9rem);
    }
    100%{
        transform: translateY(-12rem);
    }
}

.i-desc{
    margin-top: 3rem;    
}

.i-img{
    width: 50%;
    height: 50%;
    object-fit: cover;
    border-radius: 2rem;
}

/* Media Queries Tab*/
@media screen and (max-width: 768px){
    .i-left{   
        padding: 3rem;
    }

    .i-left{
        flex-direction: column;
        padding: 2.5rem;
    }

    .i-intro{
        font-size: 2rem;
    }

    .i-name{
        font-size: 3rem;
    }

    .i-title{
        height: 2rem;
    }

    .i-desc{  
        font-size: 2rem; 
    }

    .i-img{
        width: 80%;
        height: 40%;
        object-fit: cover;
        border-radius: 2rem;
    }
}

/* Media Queries Mobile*/
@media screen and (max-width: 480px){
    .i{
        flex-direction: column;
    }

    .i-left{
        flex-direction: column;
        text-align: center;
        padding: 2.5rem;
    }

    .i-right{
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .i-intro{
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }

    .i-name{
        margin-bottom: 2rem;
        font-size: 2rem;
    }

    .i-title{
        height: 3rem;
        overflow: hidden;
    }
    
    .i-title-wrapper{
        gap: 0.5rem;
        font-size: 1.5rem;
        justify-content:center;
    }

    .i-desc{
        margin-top: 3rem;   
        font-size: 1.5rem; 
    }

    .i-img{
        width: 70%;
        height: 70%;
        object-fit: cover;
        border-radius: 0.5rem;
    }
}
