.t{
    width: 50px;
    height: 25px;
    border-radius: 20px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 20px;
    right: 20px;
    position: fixed;
}

.t-icon{
    width: 20px;
}

.t-button{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    cursor: pointer;
    right: 0;
    cursor: pointer;
}